@font-face {
  font-family: "font1";
  src: url(../fonts/font.txt);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "font1", sans-serif;
  background: url(../images/bg.jpg) fixed center/cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  border: 2px solid black;
  padding: 10px 35px;
  font-weight: 750;
  background-color: transparent;
  text-transform: uppercase;
  color: rgb(35, 35, 35);
}

header {
  height: 100vh;
  color: rgb(255, 255, 255);
}
header .titre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}
header h1 {
  font-size: 5.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 120px;
}
header p {
  font-size: 1.5rem;
  text-align: center;
  margin: 40px 0 60px 0;
}
header .titre i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  height: 80px;
  width: 80px;
  font-size: 2rem;
}
header .nav {
  width: 85%;
  max-width: 1300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(235, 232, 226, 0.164);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65PX;
}
header .ul1 {
  text-transform: uppercase;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  min-width: 500px;
}
header .ul1 li:first-child {
  padding: 25PX;
  background-color: rgb(232, 232, 232);
  color: rgb(35, 35, 35);
  min-width: 100px;
}
header .ul2 {
  width: 21%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  min-width: 200px;
}
header .ul2 a {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

header {
  height: 100vh;
  color: rgb(255, 255, 255);
}
header .titre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  position: relative;
}
header h1 {
  font-size: 5.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 120px;
}
header p {
  font-size: 1.5rem;
  text-align: center;
  margin: 40px 0 60px 0;
}
header .titre i {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 50px;
  height: 80px;
  width: 80px;
  font-size: 2rem;
}
header .nav {
  width: 85%;
  max-width: 1300px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(235, 232, 226, 0.164);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65PX;
}
header .ul1 {
  text-transform: uppercase;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
  min-width: 500px;
}
header .ul1 li:first-child {
  padding: 25PX;
  background-color: rgb(232, 232, 232);
  color: rgb(35, 35, 35);
  min-width: 100px;
}
header .ul2 {
  width: 21%;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: space-around;
  min-width: 200px;
}
header .ul2 a {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
}

.section1 {
  background-color: rgb(255, 255, 255);
  width: 85%;
  max-width: 1300px;
  margin: 0 auto;
  height: 1200px;
  padding: 50px 8%;
}
.section1 h5 {
  text-transform: uppercase;
  font-size: 1rem;
  width: 100%;
  position: relative;
  text-align: center;
}
.section1 h5::before {
  content: "";
  border-bottom: 2px solid rgba(173, 170, 170, 0.357);
  width: 35%;
  top: 6px;
  left: 0;
  position: absolute;
}
.section1 h5::after {
  content: "";
  border-bottom: 2px solid rgba(173, 170, 170, 0.357);
  width: 35%;
  top: 6px;
  left: 65%;
  position: absolute;
}
.section1 .titre2 {
  margin: 50px auto;
  text-align: center;
  width: 50%;
}
.section1 .titre2 h2 {
  font-size: 3.2rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.section1 .titre2 p {
  font-size: 0.9rem;
  line-height: 40px;
}
.section1 .img1 {
  background: url(../images/pic01.jpg) center/cover;
  height: 500PX;
}/*# sourceMappingURL=index.css.map */